<div id="carouselExample" class="carousel slide" style="height: 100vh;">
  <div class="carousel-indicators">
    <button type="button" class="indicator-btn"></button>
    <button type="button" class="indicator-btn"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ imageUrl }}" class="d-block w-100" alt="...">
    </div>
  <button class="carousel-control-prev" type="button">
    <span class="carousel-control-prev-icon"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button">
    <span class="carousel-control-next-icon"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


