@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 239, 239);
  font-family: Poppins, sans-serif;
}

header {
  position: fixed;
  top: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 50px 5px 50px;
}

header .start {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

header h1 span {
  color: rgb(0, 68, 255);
}

header .start img {
  width: 40px;
  height: 40px;
}

header .end {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

header .end a {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 3px solid white;
}

header .end a:hover {
  color: rgb(1, 32, 117);
  border-bottom: 3px solid rgb(0, 17, 65);
  transition: 300ms ease;
}

main {
  margin-top: 78px;
  width: 100%;
  height: 100%;
}

main .blue-area {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: rgb(0, 68, 255);
  padding-left: 50px;
}

main .blue-area p {
  color: white;
  font-size: 80px;
  font-weight: bold;
}

main .content {
  margin: 50px 100px 50px 100px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(189, 188, 188);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .content img {
  width: 550px;
  height: 250px;
  margin: 15px;
}

footer {
  text-align: center;
  background-color: rgb(0, 68, 255);
  color: white;
  padding-top: 30px;
  height: 83px;
  width: 100%;
}
